* {
    margin: 0;
    padding: 0;
}

h1 {
    background: steelblue;
    font-family: danielbd;
    padding: 0.25em 0 0.5em 0.25em;
    color: white;
}

h2 {
    font-family: danielbd;
    padding: 0.2em 0;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    font-family: sans-serif;
    font-size: 12px;
    padding: 0.2em 0.5em;
    background: steelblue;
    color: white;
    box-sizing: border-box;
    text-align: right;
}

footer a {
    color: lightgrey;
    text-decoration: none;
}

footer a:hover {
    color: lightgoldenrodyellow;
    text-decoration: underline;
}

#editor {
    position: absolute;
    right: 0;
    background: lightgoldenrodyellow;
    padding: 0.2em 0.5em;
    border: 1px solid orange;
}

#source {
    border: none;
    background: lightgoldenrodyellow;
    outline: 0px transparent;
}

.parse-error {
    color: red;
}
